
p {
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 13%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: auto;
    font-size: 50px;
    z-index:1;
}

/*
button {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 89%;
    left:50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index:1;
    border-radius: 0px;
    border: 1.5px solid white;
    background-color: rgba(96, 96, 96, 0.4);
    font-size: 20px;
    color:white;
}

button:active {
    position: absolute;
}
*/

canvas {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    margin:auto;
    /*
    position: relative;
    left: 24%;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    */
    filter: FlipH;
}

div {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
}


body {
    position:relative;
    background: url("forest.jpg");
    background-size: cover;
    z-index: -2;
}

#frosted {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 0 2000px rgba(80, 62, 62, 0.3); 
    background-color: rgba(37, 36, 36, 0.1); 
    filter: blur(10px);

}

#blah {
    position: absolute;
    z-index: 1;
    height: 10%;
    width: 12%;
    top: 36%;
    left: 80%;
    background-color: rgba(114, 136, 136, 0.8);
    font-size: 20px;
    color: white;
    padding: 3%;
}

#blah2 {
    position: absolute;
    z-index: 1;
    height: 10%;
    width: 12%;
    top: 63.5%;
    left: 80%;
    background-color: rgba(114, 136, 136, 0.8);
    font-size: 20px;
    color: white;
    padding: 3%;
}

img {
    position: absolute;
    z-index: 1;
    top: 18%;
    left: 7%;
}